body{

	font-family: Helvetica, sans-serif;
}

a:link, a:visited{

	text-decoration: none;
}
a:hover{

	text-decoration: underline;
}

#wrap{

	width: 920px;
	margin: auto;
	padding: 10px 20px;
	background: #000000;
	overflow: hidden;
}
.logo{

	width: 60px;
	height: 60px;
}
.titulo{

	color: white;
	float: right;
	padding-right: 300px;
	margin: 10px;
}
.menuPrincipal{

	list-style: none;
	margin-top: 18px;
	padding-left: 300px;

}
header nav ul li{

	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
}
header nav ul li a{

	color: white;
}	
#conteudo{

	margin-top: 40px;
	background:#404040;
	float: left;
	width: 610px;
	padding: 10px;
}
.name{

	float: right;
	color: black;
	padding-right: 180px;
	font-size: 17px;
	margin-top: 10px;
}
.proLado{

	float: right;
	width: 300px;
	padding-right: 40px;
	margin: 10px;
}
.sectionImagens{

	width: 200px;
	margin-top: 30px;
}
#sidebar{

	margin-top: 40px;
	background: #404040;
	float: right;
	width: 280px;
}

aside ol li a{

	color: black;
}