<html>
<head ng-app="cadastro">
	<title>Pokedex-Cadastrar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="estiloCadastro.css">
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.css">

	<script src="../../lib/angular/angular.js"></script>
	<script>
		
		var cadastroApp = angular.module("cadastro", []);
		cadastroApp.controller("cadastroCrtl", function($scope){

			$scope.app = "Cadastro"
			$scope.pokemons = [{nome:"cu",level:5}];

		$scope.cadastrarPokemon = function(pokemon){

			$scope.pokemons.push(angular.copy(pokemon));

			delete $scope.pokemon

			}
		});
	</script>
</head>
<body class="pagina" ng-controller="cadastroCtrl">
	<div id="wrap">
			<div>
				
				<input type="text" ng-model="pokemon.nome" class="form-control espaco" id="nome" placeholder="Nome">
				<input type="text" ng-model="pokemon.forca" class="form-control espaco" id="forca" placeholder="Força">
				<input type="text" ng-model="pokemon.velocidade" class="form-control espaco" id="velocidade" placeholder="velocidade">
				<input type="text" ng-model="pokemon.vida" class="form-control espaco" id="vida" placeholder="Vida">
				<input type="text" ng-model="pokemon.destreza" class="form-control espaco" id="destreza" placeholder="Destreza">
			</div>
			<div class="espaco">
				<label for="tipo" class="coluna">Tipo:</label>
				<input type="checkbox" name="planta" id="tipo">Planta
				<input type="checkbox" name="fogo">Fogo
				<input type="checkbox" name="agua">Água
				<input type="checkbox" name="inseto">Inseto
				<input type="checkbox" name="normal">Normal
				<input type="checkbox" name="venenoso">Venenoso
				<input type="checkbox" name="eletrico">Eletrico
				<input type="checkbox" name="terra">Terra
				<input type="checkbox" name="lutador">Lutador
				<input type="checkbox" name="pedra">Pedra
				<input type="checkbox" name="voador">Voador
			</div>
			<div class="espaco">
				<label for="natureza" class="coluna">Selecione a natureza:</label>
				<input type="radio" name="natureza" id="natureza">Solitario
				<input type="radio" name="natureza">Corajoso
				<input type="radio" name="natureza">Docil
				<input type="radio" name="natureza">Relaxado
				<input type="radio" name="natureza">Modesto
				<input type="radio" name="natureza">Quieto
				<input type="radio" name="natureza">Calmo
				<input type="radio" name="natureza">Gentil
				<input type="radio" name="natureza">Timido
				<input type="radio" name="natureza">Serio
				<input type="radio" name="natureza">Inocente 
			</div>
			<div>
				<label for="descricao" class="coluna">Descrição:</label>
				<textarea id="descricao" placeholder="Descrição"></textarea> 
			</div> 
			<button class="btn btn-primary btn-block" ng-click="cadastrarPokemon(pokemon)">Adicionar</button>
		 	<button class="btn btn-block"><a href="../index.html">Voltar</a></button>
	</div>

</body>
</html> 
