<!DOCTYPE html>
<html ng-app="cadastro">
<head>
	<title>Pokedex-Cadastrar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="estiloCadastro.css"> 
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.css">

	<script src="../../lib/angular/angular.js"></script>
	<script>
		
		var app = angular.module("cadastro", []);
		app.controller("cadastroCtrl", function($scope){

			$scope.app = "Cadastro";
			$scope.pokemons=[

				{nome:"pikachu", level:10},
				{nome:"Mew", level:100}
			];

			$scope.naturezas=["Corajoso","Docil","Relaxado","Modesto","Quieto","Calmo","Gentil","Timido","Serio","Inocente"];

			$scope.cadastrarPokemon = function(pokemon){

				$scope.pokemons.push(angular.copy(pokemon));

				delete $scope.pokemon;
			}

		})

	</script>
</head>
<body ng-controller="cadastroCtrl" class="pagina">
	<div id="wrap">

		<div class="alert alert-danger" ng-show="cadastroForm.nome.$invalid && cadastroForm.nome.$dirty">
			
			Por favor, preencha nome.
		</div>
		<div class="alert alert-danger" ng-show="cadastroForm.level.$invalid && cadastroForm.level.$dirty">
			
			Por favor, preencha Level.
		</div>

		<form name="cadastroForm">
			<div>
				
				<input type="text" ng-model="pokemon.nome" class="form-control espaco" placeholder="Nome" ng-required="true" name="nome">
				<input type="text" ng-model="pokemon.level" class="form-control espaco" placeholder="Level" ng-required="true" name="level">
				<input type="text" ng-model="pokemon.forca" class="form-control espaco" placeholder="Força">
				<input type="text" ng-model="pokemon.velocidade" class="form-control espaco" placeholder="velocidade">
				<input type="text" ng-model="pokemon.vida" class="form-control espaco" placeholder="Vida">
				<input type="text" ng-model="pokemon.destreza" class="form-control espaco" placeholder="Destreza">
			</div>
			<div class="espaco">
				<label for="tipo" class="coluna">Tipo:</label>
				<input type="checkbox" name="planta" id="tipo">Planta
				<input type="checkbox" name="fogo">Fogo
				<input type="checkbox" name="agua">Água
				<input type="checkbox" name="inseto">Inseto
				<input type="checkbox" name="normal">Normal
				<input type="checkbox" name="venenoso">Venenoso
				<input type="checkbox" name="eletrico">Eletrico
				<input type="checkbox" name="terra">Terra
				<input type="checkbox" name="lutador">Lutador
				<input type="checkbox" name="pedra">Pedra
				<input type="checkbox" name="voador">Voador
			</div>
			<br>
			<div class="espaco">

				<select class="form-control espaco" ng-model="pokemon.natureza" ng-options="natureza for natureza in naturezas">
					<option value="">Selecione uma natureza</option>
				</select>
			</div>
			<div>
				<label for="descricao" class="coluna">Descrição:</label>
				<textarea class="form-control" id="descricao" placeholder="Descrição"></textarea> 
			</div>
		</form> 

			<button class="btn btn-primary btn-block" ng-click="cadastrarPokemon(pokemon)" ng-disabled="cadastroForm.$invalid">Cadastrar</button>
		 	<button class="btn btn-block"><a href="../index.html">Voltar</a></button>
	</div>
</body>
</html> 
