.jumbotron{

	width: 840px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	color:#DCDCDC;
	background-color: #696969;
}

.table{
	color: #FF6347;
	margin-top: 40px;
}
.form-control{

	margin-bottom: 10px;
}

.selecionado{

	background-color: #B22222;
}

.a{

	color: #800000 ;
}

.cor{

	background-color: #D3D3D3;
	color: #800000 
}

.negrito{

	font-weight: bold;
}

body{

	background-color: #B0C4DE;
}


th{

	background-color: black;
}
a{

	color: black;
}

a:link,a:visited{

	text-decoration: none;
}
a:houver{

	text-decoration: underline;
}