<!DOCTYPE html>
<html ng-app="meusPokemons">
<head>
	<title>MeusPokemons</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="estiloMeusPokemons.css">

	<script src="../../lib/angular/angular.js"></script>
	<script type="text/javascript">

		var Pokemon = function(nome, tipo, level, cor){

			this.nome = nome;
			this.tipo = tipo;
			this.level = level;
			this.cor = cor;
		}
		
		var lista = angular.module("meusPokemons",[]);
		lista.controller("meusPokemonsCtrl", function($scope){

			$scope.app = "Meus Pokemons";
			$scope.meusPokemons = [

				p1 = new Pokemon("Charmander", "Fogo", 5, "#FF8C00"),
				p2 = new Pokemon("Squirtle", "Agua", 5, "#00BFFF"),
				p3 = new Pokemon("Bulbassaur", "Planta", 5, "#228B22"),
				p4 = new Pokemon("Pikachu", "Eletrico", 10, "#FFD700"),
				p5 = new Pokemon("Mew", "Psiquico", 100, "#FFC0CB"),
				p6 = new Pokemon("Articuno", "Gelo", 80, "#87CEFA")

			];

			$scope.naturezas=["Corajoso","Docil","Relaxado","Modesto","Quieto","Calmo","Gentil","Timido","Serio","Inocente"];

			$scope.adicionarPokemon = function(pokemon){
			
				if($scope.meusPokemons.length < 6){

					$scope.meusPokemons.push(angular.copy(pokemon));

					delete $scope.pokemon;
				}else{

					alert("Você ja tem 6 pokemons no time");
				};
			};

			$scope.removePokemon = function(pokemons){

				$scope.meusPokemons = pokemons.filter(function(pokemon){

					if (!pokemon.selecionado) {

						return pokemon;
					}
				});
			};

			$scope.temPokemonSelecionado = function(pokemons){

				return pokemons.some(function(pokemon){

					return pokemon.selecionado;
				});
			}

		});

	</script> 
</head>
<body ng-controller="meusPokemonsCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table ng-show="meusPokemons.length > 0" class="table cor font-color">
			<tr class="a">
				<th>Remove</th>
				<th>Nome</th>
				<th>Tipo</th>
				<th>Level</th>
				<th>Natureza</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': pokemon.selecionado}" ng-repeat="pokemon in meusPokemons">
				
				<td><input type="checkbox" ng-model="pokemon.selecionado"></td>
				<td><a href="">{{pokemon.nome}}</a></td>
				<td><a href="">{{pokemon.tipo}}</a></td>
				<td><a href="">{{pokemon.level}}</a></td>
				<td><a href="">{{pokemon.natureza}}</a></td>
				<td><div class="image" ng-style="{'background-color': pokemon.cor}"></div></td>

			</tr>
		</table>
		<br>
		<button class="btn btn-danger btn-block" ng-click="removePokemon(meusPokemons)" ng-disabled="!temPokemonSelecionado(meusPokemons)" ng-hide="meusPokemons.length <= 0">Remover</button>
		<hr>
		<div>
			<h4>Adicionar pokemon a equipe</h4>
			<br>

			<div ng-show="meusPokemonsForm.nome.$invalid && meusPokemonsForm.nome.$dirty" class="alert alert-danger">
				Por favor, preencha nome.
			</div>
			<div ng-show="meusPokemonsForm.tipo.$invalid && meusPokemonsForm.tipo.$dirty" class="alert alert-danger">
				Por favor, preencha nome.
			</div>
			<div ng-show="meusPokemonsForm.level.$invalid && meusPokemonsForm.level.$dirty" class="alert alert-danger">
				Por favor, preencha nome.
			</div>

			<form name="meusPokemonsForm">
				<input type="text" ng-model="pokemon.nome" placeholder="Nome" class="form-control" ng-required="true" name="nome">
				<input type="text" ng-model="pokemon.tipo" placeholder="Tipo" class="form-control" ng-required="true" name="tipo">
				<input type="text" ng-model="pokemon.level" placeholder="Level" class="form-control" ng-required="true" name="level">
				<input type="text" ng-model="pokemon.cor" placeholder="Cor" class="form-control">
				<select ng-model="pokemon.natureza" ng-options="natureza for natureza in naturezas" class="form-control">
					<option value="">Selecione a natureza</option>
				</select>
			</form>
			
			<button class="btn btn-primary btn-block" ng-disabled="meusPokemonsForm.$invalid" ng-click="adicionarPokemon(pokemon)">Adicionar</button>
		</div>
		<br>
		<button class="btn btn-block"><a href="../index.html">Voltar</a></button>
	</div> 
</body>
</html>